body{
    margin: 0;
    padding: 0;
    
    }

    .loginbox{
          
}

.avatar{

}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}
.loginbox input{
    
}
.loginbox input[type="text"], input[type="password"]
 {
     
 }
 .loginbox input[type="submit"]{
    
   }
   
   .loginbox input[type="submit"]:hover{
    
   }
  
   .loginbox a{
    
   }
   
   .loginbox a :hover{
    
   }
